@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

body {
	background: url(img/warehouse.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body > div.jumbotron.jumbotron-fluid {
	background-color: black;
	color: white;
}

.contain {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 80%;
	padding: 2em;
	background: white;
}

body > div.contain > div:nth-child(3) > div.d-flex.justify-content-end > div {
	margin-top: 2em;
}

body > div.contain > div:nth-child(3) > div.d-flex.justify-content-end > div > div {
	padding: 0;
}

#product-name,
#quantity-of-items,
#item-price {
	font-family: "Molengo", sans-serif;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 20%;
	background-color: #ff00000e;
	height: 1px;
}

.list-desc {
	padding: 1em;
}

.bg-dark,
.bg-primary,
.bg-danger {
	margin-right: 2em;
}

.reddened {
	border: 1px solid red !important;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
}
